.single-blog {
    background: $bg-color-1;
    padding: 20px;
    border-radius: 8px;

    .title {
        font-size: 20px;
        line-height: 28px;
        padding-right: 20%;
        a {
            color: #fff;
        }
    }
    .content {
        padding-top: 30px;
        padding-bottom: 15px;
    }
    .thumb {
        position: relative;
        display: block;
        overflow: hidden;
        border-radius: 8px;
        img {
            width: 100%;
            min-height: 260px;
            object-fit: cover;
            transition: 0.5s;
        }
    }
    &:hover {
        .thumb {
            img {
                transform: scale(1.2);
            }
        }
        .title a {
            color: $color-primary;
        }
    }
}
.meta {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-left: -8px;
    margin-right: -8px;
    padding-left: 0 !important;

    li {
        padding: 0 8px;
        margin-bottom: 10px;
        position: relative;
        list-style: none !important;
        font-size: 15px;

        i {
            padding-right: 5px;
        }
    }

    .date {
        display: inline-flex;
        align-items: center;
    }
}
