.default-tab-list {
    margin: 0 -7.5px;
    button {
        border: 2px solid $border-color;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        text-transform: capitalize;
        color: $body-color;
        padding: 10px 18px;
        margin: 0 7.5px;
        background: transparent;
        border-radius: 30px;
        margin-bottom: 20px;
        @include xs-device {
            margin-bottom: 15px;
        }
        &:hover {
            border-color: $color-primary;
            color: $color-primary;
        }
        &.is-checked {
            background: $color-primary;
            border-color: $color-primary;
            color: #fff;
        }
    }
}

.grid-filter-wrapper {
    margin-left: -15px;
    margin-right: -15px;
    .resizer {
        width: 25%;
        @include lg-device {
            width: 33.33%;
        }
        @include sm-device {
            width: 50%;
        }
        @include xs-device {
            width: 100%;
        }
    }
    .grid-item {
        width: 25%;
        padding: 0 15px;
        margin-bottom: 30px;
        @include lg-device {
            width: 33.33%;
        }
        @include sm-device {
            width: 50%;
        }
        @include xs-device {
            width: 100%;
        }
    }
}
