// all spacing global class

// padding top
.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 5px !important;
}

.pt-2 {
  padding-top: 10px !important;
}

.pt-3 {
  padding-top: 15px !important;
}

.pt-4 {
  padding-top: 20px !important;
}

.pt-5 {
  padding-top: 25px !important;
}

.pt-6 {
  padding-top: 30px !important;
}

.pt-7 {
  padding-top: 35px !important;
}

.pt-8 {
  padding-top: 40px !important;
}

.pt-9 {
  padding-top: 45px !important;
}

.pt-10 {
  padding-top: 50px !important;
}

.pt-11 {
  padding-top: 55px !important;
}

.pt-12 {
  padding-top: 60px !important;
}

.pt-13 {
  padding-top: 65px !important;
}

.pt-14 {
  padding-top: 70px !important;
}

.pt-15 {
  padding-top: 75px !important;
}

.pt-16 {
  padding-top: 80px !important;
}

.pt-17 {
  padding-top: 85px !important;
}

.pt-18 {
  padding-top: 90px !important;
}

.pt-19 {
  padding-top: 95px !important;
}

.pt-20 {
  padding-top: 100px !important;
}


// padding bottom
.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 5px !important;
}

.pb-2 {
  padding-bottom: 10px !important;
}

.pb-3 {
  padding-bottom: 15px !important;
}

.pb-4 {
  padding-bottom: 20px !important;
}

.pb-5 {
  padding-bottom: 25px !important;
}

.pb-6 {
  padding-bottom: 30px !important;
}

.pb-7 {
  padding-bottom: 35px !important;
}

.pb-8 {
  padding-bottom: 40px !important;
}

.pb-9 {
  padding-bottom: 45px !important;
}

.pb-10 {
  padding-bottom: 50px !important;
}

.pb-11 {
  padding-bottom: 55px !important;
}

.pb-12 {
  padding-bottom: 60px !important;
}

.pb-13 {
  padding-bottom: 65px !important;
}

.pb-14 {
  padding-bottom: 70px !important;
}

.pb-15 {
  padding-bottom: 75px !important;
}

.pb-16 {
  padding-bottom: 80px !important;
}

.pb-17 {
  padding-bottom: 85px !important;
}

.pb-18 {
  padding-bottom: 90px !important;
}

.pb-19 {
  padding-bottom: 95px !important;
}

.pb-20 {
  padding-bottom: 100px !important;
}

// padding top & bottom
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.py-2 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.py-3 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.py-4 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.py-5 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.py-6 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.py-7 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.py-8 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.py-9 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.py-10 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.py-11 {
  padding-top: 55px !important;
  padding-bottom: 55px !important;
}

.py-12 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.py-13 {
  padding-top: 65px !important;
  padding-bottom: 65px !important;
}

.py-14 {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}

.py-15 {
  padding-top: 75px !important;
  padding-bottom: 75px !important;
}

.py-16 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.py-17 {
  padding-top: 85px !important;
  padding-bottom: 85px !important;
}

.py-18 {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}

.py-19 {
  padding-top: 95px !important;
  padding-bottom: 95px !important;
}

.py-20 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

// padding left
.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 5px !important;
}

.pl-2 {
  padding-left: 10px !important;
}

.pl-3 {
  padding-left: 15px !important;
}

.pl-4 {
  padding-left: 20px !important;
}

.pl-5 {
  padding-left: 25px !important;
}

.pl-6 {
  padding-left: 30px !important;
}

.pl-7 {
  padding-left: 35px !important;
}

.pl-8 {
  padding-left: 40px !important;
}

.pl-9 {
  padding-left: 45px !important;
}

.pl-10 {
  padding-left: 50px !important;
}

.pl-11 {
  padding-left: 55px !important;
}

.pl-12 {
  padding-left: 60px !important;
}

.pl-13 {
  padding-left: 65px !important;
}

.pl-14 {
  padding-left: 70px !important;
}

.pl-15 {
  padding-left: 75px !important;
}

.pl-16 {
  padding-left: 80px !important;
}

.pl-17 {
  padding-left: 85px !important;
}

.pl-18 {
  padding-left: 90px !important;
}

.pl-19 {
  padding-left: 95px !important;
}

.pl-20 {
  padding-left: 100px !important;
}

// padding right
.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 5px !important;
}

.pr-2 {
  padding-right: 10px !important;
}

.pr-3 {
  padding-right: 15px !important;
}

.pr-4 {
  padding-right: 20px !important;
}

.pr-5 {
  padding-right: 25px !important;
}

.pr-6 {
  padding-right: 30px !important;
}

.pr-7 {
  padding-right: 35px !important;
}

.pr-8 {
  padding-right: 40px !important;
}

.pr-9 {
  padding-right: 45px !important;
}

.pr-10 {
  padding-right: 50px !important;
}

.pr-11 {
  padding-right: 55px !important;
}

.pr-12 {
  padding-right: 60px !important;
}

.pr-13 {
  padding-right: 65px !important;
}

.pr-14 {
  padding-right: 70px !important;
}

.pr-15 {
  padding-right: 75px !important;
}

.pr-16 {
  padding-right: 80px !important;
}

.pr-17 {
  padding-right: 85px !important;
}

.pr-18 {
  padding-right: 90px !important;
}

.pr-19 {
  padding-right: 95px !important;
}

.pr-20 {
  padding-right: 100px !important;
}

// padding left & right
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px-1 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.px-2 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.px-3 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.px-4 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.px-5 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.px-6 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.px-7 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.px-8 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.px-9 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.px-10 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.px-11 {
  padding-left: 55px !important;
  padding-right: 55px !important;
}

.px-12 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.px-13 {
  padding-left: 65px !important;
  padding-right: 65px !important;
}

.px-14 {
  padding-left: 70px !important;
  padding-right: 70px !important;
}

.px-15 {
  padding-left: 75px !important;
  padding-right: 75px !important;
}

.px-16 {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.px-17 {
  padding-left: 85px !important;
  padding-right: 85px !important;
}

.px-18 {
  padding-left: 90px !important;
  padding-right: 90px !important;
}

.px-19 {
  padding-left: 95px !important;
  padding-right: 95px !important;
}

.px-20 {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

// padding all
.pa-0 {
  padding: 0 !important;
}

.pa-1 {
  padding: 5px !important;
}

.pa-2 {
  padding: 10px !important;
}

.pa-3 {
  padding: 15px !important;
}

.pa-4 {
  padding: 20px !important;
}

.pa-5 {
  padding: 25px !important;
}

.pa-6 {
  padding: 30px !important;
}

.pa-7 {
  padding: 35px !important;
}

.pa-8 {
  padding: 40px !important;
}

.pa-9 {
  padding: 45px !important;
}

.pa-10 {
  padding: 50px !important;
}

.pa-11 {
  padding: 55px !important;
}

.pa-12 {
  padding: 60px !important;
}

.pa-13 {
  padding: 65px !important;
}

.pa-14 {
  padding: 70px !important;
}

.pa-15 {
  padding: 75px !important;
}

.pa-16 {
  padding: 80px !important;
}

.pa-17 {
  padding: 85px !important;
}

.pa-18 {
  padding: 90px !important;
}

.pa-19 {
  padding: 95px !important;
}

.pa-20 {
  padding: 100px !important;
}

// margin top
.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 5px !important;
}

.mt-2 {
  margin-top: 10px !important;
}

.mt-3 {
  margin-top: 15px !important;
}

.mt-4 {
  margin-top: 20px !important;
}

.mt-5 {
  margin-top: 25px !important;
}

.mt-6 {
  margin-top: 30px !important;
}

.mt-7 {
  margin-top: 35px !important;
}

.mt-8 {
  margin-top: 40px !important;
}

.mt-9 {
  margin-top: 45px !important;
}

.mt-10 {
  margin-top: 50px !important;
}

.mt-11 {
  margin-top: 55px !important;
}

.mt-12 {
  margin-top: 60px !important;
}

.mt-13 {
  margin-top: 65px !important;
}

.mt-14 {
  margin-top: 70px !important;
}

.mt-15 {
  margin-top: 75px !important;
}

.mt-16 {
  margin-top: 80px !important;
}

.mt-17 {
  margin-top: 85px !important;
}

.mt-18 {
  margin-top: 90px !important;
}

.mt-19 {
  margin-top: 95px !important;
}

.mt-20 {
  margin-top: 100px !important;
}


// margin bottom
.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 5px !important;
}

.mb-2 {
  margin-bottom: 10px !important;
}

.mb-3 {
  margin-bottom: 15px !important;
}

.mb-4 {
  margin-bottom: 20px !important;
}

.mb-5 {
  margin-bottom: 25px !important;
}

.mb-6 {
  margin-bottom: 30px !important;
}

.mb-7 {
  margin-bottom: 35px !important;
}

.mb-8 {
  margin-bottom: 40px !important;
}

.mb-9 {
  margin-bottom: 45px !important;
}

.mb-10 {
  margin-bottom: 50px !important;
}

.mb-11 {
  margin-bottom: 55px !important;
}

.mb-12 {
  margin-bottom: 60px !important;
}

.mb-13 {
  margin-bottom: 65px !important;
}

.mb-14 {
  margin-bottom: 70px !important;
}

.mb-15 {
  margin-bottom: 75px !important;
}

.mb-16 {
  margin-bottom: 80px !important;
}

.mb-17 {
  margin-bottom: 85px !important;
}

.mb-18 {
  margin-bottom: 90px !important;
}

.mb-19 {
  margin-bottom: 95px !important;
}

.mb-20 {
  margin-bottom: 100px !important;
}

// margin top & bottom
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.my-2 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.my-3 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.my-4 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.my-5 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.my-6 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.my-7 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.my-8 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.my-9 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.my-10 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.my-11 {
  margin-top: 55px !important;
  margin-bottom: 55px !important;
}

.my-12 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.my-13 {
  margin-top: 65px !important;
  margin-bottom: 65px !important;
}

.my-14 {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}

.my-15 {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
}

.my-16 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}

.my-17 {
  margin-top: 85px !important;
  margin-bottom: 85px !important;
}

.my-18 {
  margin-top: 90px !important;
  margin-bottom: 90px !important;
}

.my-19 {
  margin-top: 95px !important;
  margin-bottom: 95px !important;
}

.my-20 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

// margin left
.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 5px !important;
}

.ml-2 {
  margin-left: 10px !important;
}

.ml-3 {
  margin-left: 15px !important;
}

.ml-4 {
  margin-left: 20px !important;
}

.ml-5 {
  margin-left: 25px !important;
}

.ml-6 {
  margin-left: 30px !important;
}

.ml-7 {
  margin-left: 35px !important;
}

.ml-8 {
  margin-left: 40px !important;
}

.ml-9 {
  margin-left: 45px !important;
}

.ml-10 {
  margin-left: 50px !important;
}

.ml-11 {
  margin-left: 55px !important;
}

.ml-12 {
  margin-left: 60px !important;
}

.ml-13 {
  margin-left: 65px !important;
}

.ml-14 {
  margin-left: 70px !important;
}

.ml-15 {
  margin-left: 75px !important;
}

.ml-16 {
  margin-left: 80px !important;
}

.ml-17 {
  margin-left: 85px !important;
}

.ml-18 {
  margin-left: 90px !important;
}

.ml-19 {
  margin-left: 95px !important;
}

.ml-20 {
  margin-left: 100px !important;
}

// margin right
.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 5px !important;
}

.mr-2 {
  margin-right: 10px !important;
}

.mr-3 {
  margin-right: 15px !important;
}

.mr-4 {
  margin-right: 20px !important;
}

.mr-5 {
  margin-right: 25px !important;
}

.mr-6 {
  margin-right: 30px !important;
}

.mr-7 {
  margin-right: 35px !important;
}

.mr-8 {
  margin-right: 40px !important;
}

.mr-9 {
  margin-right: 45px !important;
}

.mr-10 {
  margin-right: 50px !important;
}

.mr-11 {
  margin-right: 55px !important;
}

.mr-12 {
  margin-right: 60px !important;
}

.mr-13 {
  margin-right: 65px !important;
}

.mr-14 {
  margin-right: 70px !important;
}

.mr-15 {
  margin-right: 75px !important;
}

.mr-16 {
  margin-right: 80px !important;
}

.mr-17 {
  margin-right: 85px !important;
}

.mr-18 {
  margin-right: 90px !important;
}

.mr-19 {
  margin-right: 95px !important;
}

.mr-20 {
  margin-right: 100px !important;
}

// margin left & right
.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-1 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.mx-2 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.mx-3 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.mx-4 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.mx-5 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.mx-6 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.mx-7 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}

.mx-8 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.mx-9 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}

.mx-10 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.mx-11 {
  margin-left: 55px !important;
  margin-right: 55px !important;
}

.mx-12 {
  margin-left: 60px !important;
  margin-right: 60px !important;
}

.mx-13 {
  margin-left: 65px !important;
  margin-right: 65px !important;
}

.mx-14 {
  margin-left: 70px !important;
  margin-right: 70px !important;
}

.mx-15 {
  margin-left: 75px !important;
  margin-right: 75px !important;
}

.mx-16 {
  margin-left: 80px !important;
  margin-right: 80px !important;
}

.mx-17 {
  margin-left: 85px !important;
  margin-right: 85px !important;
}

.mx-18 {
  margin-left: 90px !important;
  margin-right: 90px !important;
}

.mx-19 {
  margin-left: 95px !important;
  margin-right: 95px !important;
}

.mx-20 {
  margin-left: 100px !important;
  margin-right: 100px !important;
}

// margin all
.ma-0 {
  margin: 0 !important;
}

.ma-1 {
  margin: 5px !important;
}

.ma-2 {
  margin: 10px !important;
}

.ma-3 {
  margin: 15px !important;
}

.ma-4 {
  margin: 20px !important;
}

.ma-5 {
  margin: 25px !important;
}

.ma-6 {
  margin: 30px !important;
}

.ma-7 {
  margin: 35px !important;
}

.ma-8 {
  margin: 40px !important;
}

.ma-9 {
  margin: 45px !important;
}

.ma-10 {
  margin: 50px !important;
}

.ma-11 {
  margin: 55px !important;
}

.ma-12 {
  margin: 60px !important;
}

.ma-13 {
  margin: 65px !important;
}

.ma-14 {
  margin: 70px !important;
}

.ma-15 {
  margin: 75px !important;
}

.ma-16 {
  margin: 80px !important;
}

.ma-17 {
  margin: 85px !important;
}

.ma-18 {
  margin: 90px !important;
}

.ma-19 {
  margin: 95px !important;
}

.ma-20 {
  margin: 100px !important;
}




// custom spacing
.p-t-8 {
  padding-top: 8px;
}