// Body
$body-bg: #101010;
$body-color: rgba(255, 255, 255, 0.75);
$color-primary: #ff512f;
$color-primary-2: #dd2476;
$color-success: green;
$color-error: #ff512f;
$color-placeholder: #555;
$gradient-primary: linear-gradient(97.3deg, #ff512f 0%, #dd2476 100%);
$bg-color-1: #20202d;
$border-color: #dadce0;
$border-color-light: #656565;
$body-light: #393939;
$body-bg-light: #f9f9fc;
$body-bg-light2: #efefef;
$body-color-light: #65676b;

// font family
$font-1: "Chakra Petch", sans-serif;
$font-2: "Inter", sans-serif;
$font-3: "Chakra Petch", sans-serif;
